@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer utilities {
  .font-handwriting {
    font-family: 'Quicksand', sans-serif;
    /* Placeholder, will need to import fonts */
  }
}