services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    environment:
      - HOST=0.0.0.0
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
