fastapi
uvicorn
pydantic
python-multipart
google-generativeai
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.39
langchain-text-splitters==0.2.4
langchain-google-genai==1.0.10
langchain-openai==0.1.25
pypdf
faiss-cpu
python-dotenv
gTTS
fastembed
